@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

.links {
  margin-left: 2rem;
}

.link-lists {
  display: flex;
  list-style: none;
}

.link-lists > *:not(:last-child) {
  margin-right: 2rem;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.link:active,
.link:hover {
  border-bottom: 2px solid currentColor;
}

footer {
  width: calc(100% - 24px);
  border: 2px solid #000;
  padding: 30px 10px;
  margin: 0 auto;
}
